body {
    display: block;
    background-color: #DAD6CF;
    position: relative;
    background-attachment: fixed;

}

form.hasBackground {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}


h1 {
    color: white;
    font-family: "Georgia", sans-serif;
    text-align: center;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    box-sizing: border-box;
    margin: 3%;
    background: #6C6462;
    opacity: 0.8;
    content: "";
    font-size: 36px;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h2 {
    color: white;
    font-family: "Georgia", sans-serif;
    text-align: center;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    box-sizing: border-box;
    width: auto;
    white-space: nowrap;
    list-style: none;
    vertical-align: top;
    background: #292724;
    content: "";
    font-size: 22px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
}

a {
    color: white;
    text-decoration: none;
    margin: 0;
}



p{
    display: block;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    float: inherit;
}